@import '_normalize';
@import '_colors';
@import '_layout';
@import '_media-queries';

body * {
  font-family: Inconsolata, Monaco, "Andale Mono", "Lucida Console", sans-serif;
  position: relative;
  .footer-main {
    font-family: cursive;
  }
}






